<?xml version="1.0" ?>

<launch>

    <arg name="img_set_dir" default="" />
    <arg name="img_sub_dir" default="" />
    <!--<arg name="item"        default="test" />-->
    <arg name="item"        default="empty" />
    <arg name="vel"         default="60.0" />

    <param name="directory" type="str"  value="$(arg img_set_dir)/$(arg item)" />
    <param name="sub_dir"   type="str"  value="$(arg img_sub_dir)" />
    <param name="item_name" type="str"  value="$(arg item)" />
    <param name="velocity" type="double"  value="$(arg vel)" />

    <!--<include file="$(find realsense_camera)/launch/sr300_nodelet_default.launch" />-->

    <node name="save_img" pkg="take_pictures" type="save_img.py"
            output="screen" />

    <node name="arm_task" pkg="take_pictures" type="arm_task.py"
            output="screen" />

</launch>

<!--objs = ['avery1BinderWhite','bagOfBalloons','burtsBeesBabyWipes','cloroxToiletBrush',
        'colgateToothbrushs','crayolaCrayons24','drtealsEpsomSalts','dvdRobots',
        'elmersGlueSticks6Ct','expoEraser','fiskarScissors','greenCompositionBook',
        'hanesWhitteSocks','irishSpring','johnson&johnsonPaperTape','kleenexCoolTouchTissues',
        'knitGlovesBlack','laughOutLoundJokesForKids','meshPencilCup','miniMarblesClearLustre',
        'neopreneWeightPink','plasticWineGlasses','polandSpringsWaterBottle','reynoldsPiePans2ct',
        'reynoldsWrap85Sqft','robotsEverywhere','scotchClothDuctTape','scotchSponges',
        'speedStick2Pack','spiralIndexCards','steriliteIceCubeTray','tableCover',
        'targetBrandMeasuringSpoons','theBatheryDelicateBathSponge','ticonderogaPencils','tomcatMousetraps',
        'whiteFaceCloth','wilsonTennisBalls','windexSprayBottle23oz','arFlashlihgts',
        'empty','test']-->
